@import 'stylesheets/layouts';

@import 'stylesheets/signup';
@import 'stylesheets/account';
@import 'stylesheets/cms';
@import 'stylesheets/catalog';
@import 'stylesheets/profile-editor';
@import 'stylesheets/profile';
@import 'stylesheets/cropped_image';
@import 'stylesheets/edit-in-place';

@import 'stylesheets/content';

@import 'stylesheets/events';
@import 'stylesheets/product';

@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  color: #212e3c;
}

p {
  word-wrap: break-word;
}

input, textarea {
  background-color: white;
  &:disabled { background-color: rgb(235, 235, 228); }
}

/* ==> button.css <== */

.button {
  border-radius: 4px;
}

/* ==> layout.css <== */

body {
  background: #EEE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#theme-footer {
  width: 95%;
  margin: auto;
}

body, th, td, input {
  font-size: 12px;
}

#link-go-content {
  position: absolute;
  top: -100px;
}

#noosfero {
  background-color: white;
  margin: auto;
  width: 100%;
  @media only screen and (max-width: 540px) {
    width: 100%;
  }
}

.msie7 #wrap-2 {
  height: 100%;
}

#content {
  padding: 32px 2px;
}

/*************************** user bar ********************************/

#user {
  display: none;
  text-align: right;
  position: absolute;
  right: 10px;
  z-index: 10;
}

#user a {
  position: relative;
  color: #888a85;
}

#user a strong {
  font-weight: bold;
  color: #555753;
}

#user .logged-in > * {
  margin-left: 25px;
}

#user a i {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -17px;
  top: -1px;
}
.msie7 #user a i {
  top: 3px;
}

#user #homepage-link i {
  width: 18px;
  height: 18px;
  left: -20px;
  top: -2px;
  background-position: 50% 50%;
}

#user form {
  position: relative;
  display: inline;
  margin-left: 20px;
}

#user form input .blur {
  width: 160px;
  border: 1px solid #BBB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #CCC;
}
#user form input {
  border: 1px solid #888;
  color: #555;
}

#user form div {
  font-size: 11px;
  color: #888;
  visibility: hidden;
}
#user form.focused div {
  visibility: visible;
}

/************************** navigation bar ***************************/

#navigation {
  background-color: #212e3c;
  color: #f8f8f8;
  display: flex;
  padding: 6px 76px;
  @media only screen and (max-width: 960px) { padding: 0.5em 1em; }
  #site-title {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin: 0;
    overflow: hidden;
    a {
      cursor: pointer;
      height: auto;

      img {
        max-width: 120px;
        width: 25vw;
      }

      span {
        @media only screen and (max-width: 768px) { display: none; }
        font-family: Apercu, sans-serif;
        padding: 0;
        margin-left: 4px;
      }
      i {
        margin-right: 0px;
      }
    }

    form#top-search {
      height: 32px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      @media only screen and (max-width: 540px) { display: none; }
      input#search-button {
        width: 100px;
      }
      input {
        padding: 8px;
        margin-right: 5px;
        border-radius: 4px;
        border-width: 1px;
        margin-left: 10px;
        width: 60%;
        max-width: 400px;
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px white inset;
        }
      }
      a.button {
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  > ul {
    align-items: center;
    display: flex;
    margin: 0em;
    flex-grow: 0;
    padding-left: 0;

    > li {
      list-style: none;
      display: inline-block;
      height: auto;
      text-align: center;
      &:not(.user-menu):not(.hamburger-menu) {
        margin-right: 15px;
      }

      a {
        background: none;
        color: #f8f8f8;
        font-size: 16px;
        @media only screen and (max-width: 768px) { font-size: 18px; }
        text-decoration: none;
        &:visited, &:hover {
            color: #f8f8f8;
        }

        > span {
          @media only screen and (max-width: 768px) { display: none; }
        }
      }

      &.user-home {
          @media only screen and (max-width: 768px) {
            a { font-size: 22px; }
          }
      }

      &.hamburger-menu {
          @media only screen and (max-width: 768px) {
            a { font-size: 20px; }
          }
      }

      &.user-pending-tasks {
        position: relative;

        #pending-tasks {
          background-color: #fa3e3e;
          border: 1px solid #fa3e3e;
          border-radius: 50%;
          line-height: 13px;
          font-weight: 500;
          padding: 0;
          margin: 0;
          width: 14px;
          height: 14px;
          position: absolute;
          top: -10px;
          right: -4px;
        }

        .noosfero-dropdown-menu {
          margin-top: 38px;
          right: 0px;
          max-height: 400px;
          form {
            width: 320px;
            @media only screen and (max-width: 540px) { width: 260px; }
          }
          li {

            a {
              color: #333;
              font-size: 1em;
              width: auto;
            }

            h3 {
              font-size: 14px;
              font-weight: normal;
              letter-spacing: -0.3px;
            }

            .task-box {
              margin:0;
              border:0;
              padding-bottom: 5px;
              cursor: pointer;
            }

            .task-box:hover {
              background-color: #ecf0f1;
            }

            .task-requestor-img {
              flex-grow: 1;
              .task_icon {
                margin: auto;
              }
            }

            .task_icon {
              padding: 10px;
            }

            .task-description {
              text-align: left;
              width: 220px;
              @media only screen and (max-width: 540px) { width: 180px; }
              padding-right: 5px;
              .bullet-separator {
                @media only screen and (max-width: 540px) { display: none; }
              }
            }

            .task-information {
              color: #333;
              a {
                display: inline;
                padding: 0;
              }
            }

            .task-actions.button-bar {
              a.accept-task, a.reject-task {
                font-size: 0.9em !important;
                font-weight: 700;
              }
            }

            .task-decisions {
              display: none;
            }
          }
        }
      }

      &.user-menu, &.hamburger-menu {
        a {
          display: inline-block;
          vertical-align: middle;
          &.menu-toggle {
            float: none;
            margin-top: 2px;
          }
        }

        > a {
          padding-left: 6px;
        }

        img.profile-icon {
          width: 32px;
          @media only screen and (max-width: 768px) { width: 24px; }
          border-radius: 100%;
          vertical-align: middle;
        }

        span#user-name {
          padding: 0 0 0 5px;
          vertical-align: middle;
        }

        ul.noosfero-dropdown-menu {
          margin-top: 11px;
          right: 85px;
          @media only screen and (max-width: 960px) { right: 30px; }
          @media only screen and (max-width: 768px) { margin-top: 15px; }
          @media only screen and (max-width: 540px) { right: 20px; }
          a {
            font-size: 1em;
          }
          &.submenu {
            font-size: 0.9em;
            margin-top: 0;
            margin-right: 45px
          }
        }
      }

      &.user-menu {
        @media only screen and (max-width: 540px) { display: none; }
      }

      &.hamburger-menu {
        display: none;
        @media only screen and (max-width: 540px) { display: inline-block; }
      }

      &.login-link, &.signup-link {
        a {
          @media only screen and (max-width: 768px) { font-size: 14px; }
        }
      }
    }
  }
}

#navigation span {
  background-position: 5px 50%;
  background-repeat: no-repeat;
}

#navigation .menu-submenu ul, #navigation .menu-submenu li{
  float: none;
  text-align: right;
  border-left: 0px;
}

.menu-submenu-list>li{
  width: 100%;
}

#navigation .menu-submenu ul{
  border: 1px solid #888a85;
  border-top: 0px;
  background-color: #ccc;
  padding-right: 2px;
  height: auto;
  display: block;
  padding-top: 20px;
}

#navigation .menu-submenu{
  bottom: -75px;
  width: 126px;
  top: 0px;
  right: 0px;
  position: relative;
}

#navigation .menu-submenu a{
  padding: 4px 5px;
  font-size: 12px;
  line-height: normal;
  border-left: 0;
}

#navigation .menu-submenu-trigger {
  background: #eee url(../../../images/down-arrow.png) center center no-repeat;
  border: 0px;
  height: 8px;
  width: 124px;
}
#navigation li:hover .menu-submenu-trigger:hover {
  background: #585858 url(imgs/down-arrow-light.png) center center no-repeat;
}

#navigation li:hover .menu-submenu-trigger{
  display: block;
}

#navigation li .menu-submenu-trigger{
  display: none;
  height: 16px;
  top: 42px;
  left: 0;
  border: 1px solid #888A85;
  outline: none;
}

#navigation .menu-submenu-header, #navigation .menu-submenu-footer, #navigation .menu-submenu h4{
  display: none;
}

#navigation .common-profile-list-block .vcard .menu-submenu-trigger,
.menu-submenu-trigger {
  left: 1px;
  top: 33px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/************************** main content *****************************/

.main-content {
  border: 1px solid #babdb6;
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  @media only screen and (max-width: 540px) {
    border:none;
    padding: 0px 6px;
  }
  img[alt='Noosfero'] {
    width: 75%;
    height: auto;
  }
}

#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom: 1px solid #212e3c;
  font-size: 2.5em;
  @media only screen and (max-width: 540px) { font-size: 2em; }
  font-weight: 500;
  margin-top: 10px;
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.block {
  position: relative;
  padding: 10px 0;
  float: none;
}

/***************************** footer ********************************/

#theme-footer #language-chooser {
  margin-top: 3em;
  text-align: center;
}


#theme-footer {
  padding: 0px;
  font-size: 11px;
  color: #555;
  margin-bottom: 20px;
}

#theme-footer a {
  color: #333;
  text-decoration: none;
}
#theme-footer a:hover {
  color: #222;
  text-decoration: underline;
}

#footer-links {
  text-align: left;
  margin-top: 15px;
}

#link-to-doc {
 background-repeat: no-repeat;
 padding-left: 20px;
 padding-top: 2px;
 padding-bottom: 2px;
}

#copyright {
  text-align: right;

  @media screen and (max-width: 540px) {
    text-align: center;
  }
}

#noosfero-license {
  margin-bottom: 1em;
}

div.no_media_panel {
  margin: 0px;
}

div#notice {
  right: 15px;
}

/* ==> blocks.css <== */

.block a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.block a:visited {
  color: inherit;
  font-weight: normal;
}

.block a:hover {
  color: #333;
  text-decoration: underline;
}

#content .block {
  padding: 0px;
  padding-top:10px;
  margin: 0px 0px 20px 0px;
}

#content .block-title {
  font-size: 18px;
  text-transform: capitalize;
  text-align: left;
  border-bottom: 2px solid #212e3c;
  padding-bottom: 2px;
}

#content .block-subtitle {
  font-variant: normal;
  color: #AAA;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #AAA;
  padding: 2px 0;
}

#content .block.link-list-block {
  padding-top: 0;
}

/*************************** Login block *****************************/

.login-box {
  padding: 0px;
  .button-bar {
    display: flex;
    a.button {
      flex-grow: 1;
    }
  }
}

.login-box-content {
  margin: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.login-box .formfieldline input {
  width: 99%;
}

.login-box form {
  margin: 0px;
}
.msie7 .login-box form {
  padding: 0px 10px 0px 0px;
}

.login-box p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.login-box .forgot-passwd a {
  color: #555753;
}

.want-to-be-an-user {
  font-size: 13px;
}

#content .logged-user-info h2 {
  font-size: none;
}

.logged-user-info ul {
  margin-top: 5px;
  text-align: left;
  list-style-position: inside;
  padding-left: 0px;
}

.logged-user-info .user-actions {
  text-align: center;
  padding-left: 0px;
}


/************************** Profile List *****************************/

#content .profile-list-block ul,
#content .enterprises-block ul,
#content .communities-block ul,
#content .favorite-enterprises-block ul,
#content .fans-block ul {
  width: 100%;
  padding: 0px;
  list-style: none;
}

#content .box-1 .profile-list-block ul,
#content .box-1 .enterprises-block ul,
#content .box-1 .communities-block ul,
#content .box-1 .fans-block ul {
  width: auto;
  display: block;
}

.block-footer-content {
  text-align: center;
  margin-top: 10px;
  a.view-all {
    font-size: 12px;
    &:hover {
      color: #707070;
    }
  }
}


#content .profile-list-block .block-title {
  text-align: left;
}

#content .profile-list li a,
#content .common-profile-list-block .vcard li a {
  color: #555;
}
#content .profile-list li a:hover,
#content .common-profile-list-block .vcard li a:hover {
  color: #000;
  text-decoration: none;
}

/************************* Recent Contents ***************************/

#content .feed-reader-block,
#content .recent-documents-block {
  overflow: hidden;
}

.feed-reader-block li,
.recent-documents-block li {
  list-style-image: url(imgs/li-recent.gif);
  padding: 5px 0px;
}

.feed-reader-block li a {
  font-weight: bold;
}

.feed-reader-block li a:visited {
  font-weight: normal;
}

.feed-reader-block li a:hover,
.recent-documents-block li a:hover {
  text-decoration: underline;
}

/************************* Profile Image *****************************/

#content .profile-image-block {
  margin: 0px;
  text-align: center;
  .admin-link {
    a {
      font-size: 0.9em;
      color: #666;
    }
  }
  p {
    color: #212e3c;
    font-size: 1.8em;
  }
  ul {
    margin: 10px 0px 0px 0px;
  }
}
.profile-big-image-inner1 {
  text-align: center;
}

.profile-big-image {
}
.profile-big-image img {
  border: none;
  padding: 0px;
}

.profile-image-block p {
  margin: 0px;
  font-weight: bold;
  color: #555;
}

/*************************** My Network ******************************/

#content .block.my-network-block {
  margin: 0px 0px 10px 0px;
}

.my-network-block ul {
  margin: 0px;
  padding: 0px 0px 10px 20px;
}
.my-network-block li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/*************************** Link List *******************************/

.link-list-block .empty {
  display: none;
}

#content .box-1 .link-list-block {
  margin: 0px;
}

#content .box-1 .link-list-block li {
  display: inline-block;
}

#content .profile-info-options {
  text-align: left;
  padding: 0;
}

#content .link-list-block li,
#content .profile-info-options li {
  border-bottom: 1px solid #707070;
  background-color: transparent;
  cursor: pointer;
  margin: 0px;
  padding: 2px 0px 2px 8px;
  a {
    background: none;
    box-sizing: border-box;
    color: #212e3c;
    display: inline-block;
    font-size: 1.2em;
    line-height: 28px;
    padding: 6px 10px 6px 25px;
    @media only screen and (max-width: 960px) { padding-left: 10px; }
    text-decoration: none;
    width: 100%;
    i {
      display: inline-block;
      width: 20px;
      text-align: center;
      margin-right: 8px;
    }
  }
  &:hover {
    background-color: #e9ebee;
  }
}

#content .box-1 .link-list-block li a {
  padding-left: 25px;
  padding-right: 10px;
  margin-right: 5px;
}

#content .box-1 .link-list-block li a.link-this-page {
  width: auto;
  border: none;
  border-radius: 4px;
}

#content .link-list-block li a:hover {
}

#content .link-list-block li a.link-this-page:hover {
}


/************************** Communities ******************************/
.communities-block ul {
  text-align: left;
  margin: auto;
  width: 95%;
}

.communities-block .profile-image {
  padding-left: 4px;
  height: auto;
}

.msie7 .communities-block .common-profile-list-block .vcard a {
  height: auto;
  width: 99%;
  padding-bottom: 1px;
}

.communities-block .vcard a .org {
  overflow: hidden;
}
.msie .communities-block .vcard a .org {
  height: 30px;
}

.communities-block .vcard a .may-clear {
  clear: left;
}

/****************************** Tags *********************************/

/* the style here is not only for #content .tags-block .tag_cloud */

.tag_cloud {
  text-align: center;
}

.tag_cloud a {
  text-decoration: none;
  white-space: nowrap;
}

.tag_cloud a small {
  opacity: 0.5;
  filter:alpha(opacity=50);
}


/********************* Product Categories Block **********************/

.product-categories-block .catalog-home-link {
  display: block;
  background: rgba(0,0,0,0.08);
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 0px;
  line-height: 200%;
  text-decoration: none;
  color: #000;
}
.product-categories-block .catalog-home-link:hover {
  background: rgba(0,0,0,0.6);
  color: #FFF;
  text-decoration: none;
}

.product-categories-block .catalog-categories-list {
  margin-top: 0.5em;
}

.product-categories-block ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  color: rgba(0,0,0,0.4);
}

.product-categories-block li {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.product-categories-block li li div {
  padding: 0 0 0 1.5em;
}

.product-categories-block .catalog-categories-list a {
  text-decoration: none;
  font-size: 120%;
	line-height: 150%;
  color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	padding: 0 0.3em 0 0.5em;
  border-radius: 5px;
	max-width: 80%;
	vertical-align: middle;
}
.product-categories-block .catalog-categories-list ul a {
  text-decoration: none;
  font-size: 110%;
	line-height: 163.6%;
}
.product-categories-block .catalog-categories-list div:hover a:hover {
  background: rgba(0,0,0,0.6);
  color: #FFF;
  text-decoration: none;
}

.product-categories-block .catalog-categories-list div:hover a,
.product-categories-block .catalog-categories-list div:hover .count {
  background: rgba(0,0,0,0.08);
}

.block.product-categories-block .catalog-categories-list a {
  font-weight: bold;
}

.block.product-categories-block .catalog-categories-list ul a {
  font-weight: normal;
}

.product-categories-block a:hover {
  text-decoration: underline;
}

.product-categories-block .count {
	display: inline-block;
	vertical-align: middle;
	margin-left: -0.2em;
	padding: 0 0.2em;
	line-height: 180%;
  border-radius: 5px;
}

.block.product-categories-block .count:before {
	content: "(";
}
.block.product-categories-block .count:after {
	content: ")";
}

.catalog-categories-notice {
  color: rgba(0,0,0,0.3);
  padding: 0.5em 1em;
}

/********************* Environment Statistics ************************/

#content .environment-statistics-block ul {
  margin: 0px 20px;
  padding: 0px;
}
#content .environment-statistics-block li {
  list-style-image: url(imgs/li-gray.gif);
  padding: 3px 0px;
  color: #777
}

/*************************** News Area *******************************/

.highlighted-news-item {
  border-top: 1px solid #CCC;
  padding-top: 5px;
}

#highlighted-news h2 a {
  font-weight: bold;
  color: #2e3436;
}

.news-area {
  border: none;
  background: #FFF;
  height: auto;
  position: relative;
}

.news-area ul {
  border: 1px solid #CCC;
  border-top: 2px solid #07C;
  height: 125px;
  overflow: auto;
  margin: 0px;
  padding: 5px 10px;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
  border-bottom: none;
}

.news-area li {
  margin-left: 15px;
  padding: 0px 0px;
  list-style-image: url(imgs/li-blue.gif);
}

#content .news-area h3 a {
  font-weight: bold;
  color: #2e3436;
}
#content .news-area h3 a:hover {
  text-decoration: none;
}

#content .news-area h3 {
  background: #FFF;
  margin: 0px 0px 3px 0px;
  padding: 0px;
}

#content .news-area a {
   color: #000;
}

#content .news-area a.news-see-more {
  position: absolute;
  top: 3px;
  right: 0px;

  color: #000;
  padding-right: 10px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .news-area a.news-see-more:hover {
  text-decoration: none;
  color: #07C;
}

#portal-news ul {
  padding: 0px;
  border-top: 1px solid #CCC;
}
#portal-news li {
  list-style: none;
  padding: 8px 0px;
  border-bottom: 1px solid #CCC;
}
#portal-news li a {
  font-weight: bold;
  color: #555753;
}
#portal-news .post-date, #highlighted-news .post-date {
  color: #555753;
}

#highlighted-news .post-title {
  font-weight: bold;
  font-size: 20px;
}
#highlighted-news h2 {
  margin-bottom: 0px;
}

.highlighted-news-item {
  .highlighted-news-item-footer {
    display: flex;
    justify-content: space-between;
  }
}

.portal-news-item {
  display: flex;

  .post-date {
    flex: 1;
  }

  .post-title {
    flex: 5;
  }
}

.highlighted-news-item, #portal-news li.portal-news-item {
  .order-options {
    visibility: hidden;

    a, a:visited {
      font-weight: normal;
      color: #555;
    }

    a:not(:last-child) {
      margin-right: 10px;
    }

    a.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &:hover .order-options {
    visibility: visible;
  }
}

/* ==> search-results.css <== */


.msie .search-results-box {
  width: 48%;
}

.search-results-box ul li {
  display: inline;
}

#content .no-boxes h1 {
  text-align: left;
  border-bottom: 2px solid #2e3436; /*8C0*/
}

.query {
  display: none;
}

.controller-search #content .search_form h3 {
  display: none;
}

.controller-search #content .search_form h4 {
  background: #DDD;
  color: #777;
}
.controller-search .search-options {
  border: 1px solid #777;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.controller-search .search-options ul li {
  position: relative;
}

.controller-search .search-within select {
  display: block;
  margin-bottom: 5px;
}

.controller-search .search-within label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

.controller-search a {
  color: #555753;
}

#search-content {
  display: inline;
}

#search-results h3 {
  color: #555753; /*6A0*/
  margin: 0px;
}

.search-results-innerbox {
  border: none;
}

#content .search-results-type-article li,
#content .search-results-type-event li {
  padding: 5px 0px;
}

.search-results-type-article a,
.search-results-type-event a {
  text-decoration: none;
}
.search-results-type-article a:hover,
.search-results-type-event a:hover {
  text-decoration: underline;
}

/* ==> article.css <== */

#article a {
  text-decoration: underline;
}

hr.pre-posts, hr.sep-posts {
  display: none;
}

.blog-post {
}

#article-actions a.button,
#article-actions a.button:hover {
  border: none;
  background-color: transparent;
  color: #888;
}
#article-actions a.button:hover {
  color: #555753;
}
#content a.disabled,
#content a.disabled:hover {
  color: #888;
  text-decoration: none;
}
#content a.button.disabled,
#content a.button.disabled:hover {
  background-color: #CCC;
  border-color: #CCC;
  pointer-events: none;
}

#addThis {
  text-align: right;
}

#content .blog-post {
  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
}

#content .blog-post .title {
  border: none;
  padding: 0;
  margin-bottom: 0;
}
#content .blog-post .title a {
  font-size: 1em;
  text-decoration: none;
}

#content .blog-post .publishing-info {
  margin-top: 0 !important;
}

#content .blog-post p {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

#content .main-block .publishing-info {
  display: flex;
  text-align: left;
  color: #90949c;
  /*padding-top: 20px;*/
  margin-bottom: 15px;
  margin-top: 5px;
  .content-publication-data {
    flex-grow: 1;
    padding-right: 15px;
    .article-date-and-author {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: -.02rem;
      .author a { font-size: 12px !important; }
      .bullet-separator,
      .parent-folder {
       font-weight: normal;
      }

    }
    .bullet-separator {
      padding: 0 2px;
    }
    .article-comments-and-followers {
      font-size: 10px;
      margin-top: 4px;
      .comments a { font-size: 10px !important; }
    }
  }
}
#content .main-block .publishing-info a {
  text-decoration: none;
}
#content .main-block .publishing-info a:hover {
  color: #555;
  text-decoration: underline;
}

#article-tags {
  color: #FFF;
}
#article-tags a {
  text-decoration: none;
  padding: 0px 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #BBB;
  color: #FFF;
}

.msie .post_comment_box {
  padding-top: 15px;
}

.post_comment_box.closed h4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.post_comment_box.opened h4 {
  display: block;
  background: #FFF;
  padding: 0px;
  color: #555753;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #888a85;
}

.post_comment_box.opened {
  border: none;
  background: transparent;
}

/************* uploaded file *****************/

#article .gallery-navigation {
  padding: 10px 0;
}

#article .gallery-navigation .previous {
  margin-right: 10px;
}

#article .gallery-navigation .next {
  margin-left: 10px;
}

#article .gallery-navigation .total-of-images {
  font-weight: bold;
}

#article .uploaded-file-description {
  background: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
#article .uploaded-file-description.empty {
  display: none;
}

#article.file-generic .download-link {
  display: block;
  margin-bottom: 10px;
}
#article.file-generic .download-link span {
  font-size: 150%;
  padding-right: 5px;
}
#article.file-generic .download-link a {
  font-size: 180%;
  text-decoration: none;
}

/**************************** Comments *******************************/

#content .comments h3 {
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #212e3c;
  padding-bottom: 5px;
}

.article-comment {
  border: none;
  background: #FFF;
}

.comment-logged-out h4 {
  color: #888;
}

#content .comment-picture {
  text-align: left;
  text-decoration: none;
  position: relative;
}

.comment-wrapper-1 {
  margin-left: 60px;
  background: url(imgs/comment-bg-N.png)    0%   0% repeat-x;
}
.comment-wrapper-2 {
  background: url(imgs/comment-bg-S.png)    0% 100% repeat-x;
}
.comment-wrapper-3 {
  background: url(imgs/comment-bg-L.png)  100%   0% repeat-y;
}
.comment-wrapper-4 {
  background: url(imgs/comment-bg-O.png)    0%   0% repeat-y;
}
.comment-wrapper-5 {
  background: url(imgs/comment-bg-SL.png) 100% 100% no-repeat;
}
.comment-wrapper-6 {
  background: url(imgs/comment-bg-SO.png)   0% 100% no-repeat;
}
.comment-wrapper-7 {
  background: url(imgs/comment-bg-NL.png) 100%   0% no-repeat;
}
.comment-wrapper-8 {
  background: url(imgs/comment-bg-NO.png)   0%   0% no-repeat;
}

.comment-from-owner .comment-wrapper-1 {
  background: #fbf7b5 url(../../../images/comment-owner-bg-N.png) repeat-x;
}
.comment-from-owner .comment-wrapper-2 {
  background: url(../../../images/comment-owner-bg-S.png)    0% 100% repeat-x;
}
.comment-from-owner .comment-wrapper-3 {
  background: url(../../../images/comment-owner-bg-L.png)  100%   0% repeat-y;
}
.comment-from-owner .comment-wrapper-4 {
  background: url(../../../images/comment-owner-bg-O.png)    0%   0% repeat-y;
}
.comment-from-owner .comment-wrapper-5 {
  background: url(../../../images/comment-owner-bg-SL.png) 100% 100% no-repeat;
}
.comment-from-owner .comment-wrapper-6 {
  background: url(../../../images/comment-owner-bg-SO.png)   0% 100% no-repeat;
}
.comment-from-owner .comment-wrapper-7 {
  background: url(../../../images/comment-owner-bg-NL.png) 100%   0% no-repeat;
}
.comment-from-owner .comment-wrapper-8 {
  background: url(../../../images/comment-owner-bg-NO.png)   0%   0% no-repeat;
}

.comment-created-at {
  position: relative;
  padding-right: 9px;
}

.comment-from-owner .comment-created-at {
  color: #333;
}

.article-comment .button-bar {
  position: relative;
  top: 9px;
  right: 8px;
  z-index: 10px;
}

.article-comment .button-bar a {
  position: relative;
}

.comment-details {
  margin: 0px;
  padding: 7px 12px 3px 26px;
}

/* ==> controllers.css <== */

/******** controller-friends action-friends-index ********/

.profile-list li,
.common-profile-list-block .vcard {
  border: 1px solid transparent;
}

.profile-list li:hover,
.common-profile-list-block .vcard:hover {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #EEE;
  text-decoration: none;
}

.common-profile-list-block .vcard a,
.common-profile-list-block .vcard a:hover {
  background: transparent;
  border: 0;
}

/******** controller-profile action-profile-index ********/

table.profile th {
  font-size: 15px;
  text-align: left;
}

/**** controller-memberships action-memberships-index ****/

#memberships-index li {
  background-color: #FFF;
  border: 1px solid #EEE;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin-bottom: 10px;
}

#memberships-index li .vcard a.profile_link.url {
  border: 1px solid transparent;
  background-color: #FFF;
}

#memberships-index li .vcard a.profile_link.url:hover {
  border: 1px solid  #CCC;
  background-color: #EEE;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/************************** Control Panel ****************************/

.control-panel {
  @media only screen and (max-width: 768px) { text-align: center; }
}

.control-panel a,
.control-panel a:visited {
  font-weight: bold;
  background-position: 2px 50%;
}
.control-panel a:hover {
  text-decoration: none;
  color: #2e3436;
  background-color: #d3d7cf;
}



/* ==> doc.css <== */

#online-doc-navigation h1 {
  font-variant: small-caps;
  color: #AAA;
  border-bottom: 2px solid #AAA;
}

#online-doc-text {
  background: transparent url(imgs/blog-sep.png) repeat-x scroll 0 0;
  padding: 15px 20px 5px 20px;
  margin: 10px -19px;
}

#online-doc-text h1,
#online-doc-text h2,
#online-doc-text h3,
#online-doc-text h4,
#online-doc-text h5,
#online-doc-text h6 {
  font-variant: small-caps;
}

#online-doc-text h2 {
  border-bottom: 2px solid black;
}

/**************************** Browse *******************************/

#content .search-results-type-article li {
  padding: 5px 0px;
}

.search-results-type-article a {
  text-decoration: none;
}
.search-results-type-article a:hover {
  text-decoration: underline;
}

/* simplemenu */

.simplemenu-submenu {
  background: #EEE;
  border: 1px solid #AAA;
  opacity: 0.9;
  text-align: left;
}
.user-status .simplemenu-item a {
  color: black;
}

/* chat */

#chat-window .history .self-name {
   color: #3F3F90;
}
#chat-window .history .other-name {
   color: #7F1F1F;
}

/* recaptcha*/

table#recaptcha_table tr:hover td {
  background-color: #fff;
}

/* product cateogories */
#categories-container #product_category_id {
  font-size: 18px;
  width: 100%;
  margin-bottom: 8px;
}
#categories-container #product_category_id:focus {
  outline: none;
  border-color: green;
  box-shadow: 0 0 10px green;
  color:#333;
}

/************************* Article Page *****************************/

#article-header .preview {
  font-size: 15px;
}

.article-body-img {
  text-align: center;
}

#content #article .article-body .article-body-img img {
  height: auto;
  width: auto;
  min-height: 120px;
  max-height: 180px;
  max-width: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}

#content #article .article-body .article-body-img p {
  margin-bottom: 10px;
  font-size: 10px;
  min-height: 20px;
}
/* Noosfero Events */

.event-card {
  width: 100%;
  height: 165px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.event-image {
  position: relative;
  float: left;
  padding-right: 22px;
  max-width: 130px;
  height: 130px;
}

#content #article .article-body img{
  max-height: 100%;
}

.about-event {
  position: relative;
  float: left;
  height: 160px;
  width: 300px;
  max-width: 300px;
}

.about-event > span {
  display: block;
  max-width: inherit;
  margin-left: 20px;
  padding-left: 21px;
  line-height: 13px;
  margin-right: 11px;
}

.about-event .event-date {
  margin-top: 3px;
}

.about-event .event-address {
  margin-top: 19px;
}

.about-event .event-address span {
  display: block;
  margin-left: 0px;
  margin-top: 4.4px;
  line-height: 14px;
}

.event-date {
  background: url('/images/calendar_date_select/calendar-icon.png') no-repeat left center;
  padding: 2px;
  padding-left: 15px;
}

.event-link {
  background: url('/images/globe-icon.png') no-repeat left center;
  margin-top: 18px;
}

.event-link a {
}

.event-address {
  background: url('/images/icone_pin.png') no-repeat left top;
}

.event-body {
}

.event-body .event-lead {
  font-size: 15px;
}

.event-body .event-content p {
  margin-top: 20px;
  max-width: 494px;
  padding-left: 2px;
}

.profile-members-title-sort {
  clear: both;
}

.gray-border-top {
  border-top: 1px solid #e8e8e8;
}


/*************************** join community confirmation ********************************/

.join-community-confirmation h1 {
	font-variant: small-caps;
	font-size: 20px;
	color: #555753;
	text-align: left;
}

.join-community-confirmation {
	padding: 5px 20px 0px 20px;
}

.join-community-confirmation input.button.with-text {
	padding-right: 4px;
}

/********************** Noosfero Dropdown Menu **********************/

div.menu-container {
  position: relative;
}

a.menu-toggle {
  color: #212e3c;
  float: right;
  font-size: 16px;
  &:focus { outline: none; }
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  max-height: 360px;
  overflow-x: auto;
  overflow-y: scroll;
}

.all-tasks-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #95a5a6;
  > a {
    color: black !important;
  }
}

.noosfero-dropdown-menu {
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  display: none;
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
  position: absolute;
  right: 20px;
  @media only screen and (max-width: 540px) { right: 0px; }
  z-index: 2;
  > li {
    font-size: 1.2em;
    &:nth-child(n + 2) { border-top: 1px solid #e8e8e8; }
    &:hover { background-color: #e9ebee; }
    > a {
      background: none;
      box-sizing: border-box;
      color: #212e3c !important;
      display: inline-block;
      font-size: 1em;
      height: 100%;
      width: 100%;
      padding: 0.5em 1em;
      text-decoration: none;
      text-align: left;
      white-space: nowrap;

      &.disabled {
        font-style: italic;
        cursor: not-allowed;
      }

      i { width: 20px; }
      &:hover {
        color: #212e3c !important;
        text-decoration: none !important;
      }
    }
  }
}

.scrollbar {
  overflow-y: scroll;

  &::-webkit-scrollbar {
      width: 1em;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
}

.arrow-up {
  display: none;
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  position: absolute;
  top: 19px;
  right: 3px;
  z-index: 8;
}

/* Ugly workaround to make google recaptcha responsive */
#rc-imageselect, .g-recaptcha {
  @media only screen and (max-width: 540px) {
    transform:scale(0.90);
    -webkit-transform:scale(0.90);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

form.form-with-captcha {
  input {
    width: 302px;
    @media only screen and (max-width: 540px) {
      width: 273px;
    }
  }
  @media only screen and (max-width: 540px) {
    width: 275px;
    margin: auto;
  }
}

/********************** Organization Index **********************/

#organizations-search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#organizations-search-field {
  width: 100%;
  height: 100%;
}

#organizations-search a {
  width: 12%;
}

#environment-profiles-filter-filter {
  display: flex;
  float: right;
}

#environment-profiles-filter-filter strong {
  align-self: center;
}

#environment-profiles-filter-filter select {
  margin-left: 0.5em;
  font-size: 100%;
}

#organizations-list th {
  min-width: 100%;
}

#organizations-list select {
  font-size: 100%;
  width: 100%;
  padding-right: 20px;
  margin-top: 2px;
}

.organization_button {
  font-size: 100% !important;
  padding: 0.5em 0.5em 0.8em 0.5em !important;
  margin-right: 0.5em !important;
  height: 1em;
  min-width: 4em;
  margin-top: 2px;
}

.hidden-submit {
  display: none !important;
}

.no-boxes {
  width: 94%;
  margin: auto;
}

i.fa {
  margin-right: 4px;
}

